extends layout
include ./mixins/bloques
include ./mixins/forms

block contenido
    .columns
        .column.col-12
            .text-center
                h1 Login
    .columns
        .column.col-9
            form.form-horizontal(method="POST" action="login" )
                +formInput("email", "Dirección de e-mail", {type:"email", placeholder:"E-mail", value:email})
                +formInput("password", "Contraseña", {type:"password", placeholder:"Contraseña"})
                .col-12
                    input.btn.btn-primary(type="submit", value="Ingresar!!")
    if error
        +toastSimple(error)(class='toast-error')
    .columns
        .column.col-6
            a(href="/") Volver