extends layout
include ./mixins/bloques
include ./mixins/forms

block contenido
    .columns
        .column.col-12
            .text-center
                h1 Registrese aquí
    .columns
        .column.col-9
            form.form-horizontal(method="POST" action="register" )
                +formInput("fullname", "Nombre", {type:"text", placeholder:"Nombre", value:fullName, required:true})
                +formInput("email", "Dirección de e-mail", {type:"E-mail", placeholder:"Nombre", value:email, required:true})
                +formInput("password", "Contraseña", {type:"password", placeholder:"Contraseña", required:true})
                .col-12
                    input.btn.btn-primary(type="submit", value="Registrarse!!")
    if error
        +toastSimple(error)(class='toast-error')