extends layout.pug

block contenido
    div.columns
        div.column.col-12
            div.text-center
                h1 Hola
                p 
                    | Podés loguearte haciendo click 
                    |
                    a(href="./login") aquí