extends layout.pug

block contenido
    .columns
        .column.col-12
            .text-center
                h1 ¡Gracias por registrarte!
                p 
                    | Podés acceder al login haciendo click en
                    |
                    a(href="./login") este enlace 