extends layout.pug

block contenido
    div.columns
        div.column.col-12
            div.text-center
                p Bienvenido de vuelta #{nombreUsuario}.
                a(href="./logout") Salir